.container {
    /*padding: 0 100px 0 100px;*/
    color: #ffffff;
    /*color: rgb(246 184 62); C'est du jaune ici. */

    header nav {
        display: flex;
        justify-content: space-between;
        height: 90px;
        align-items: center;
        padding: 0 100px 0 100px;

        .page-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 700;
            font-size: 30px;

            .logoNav {
                height: 80px;
            }
        }

        .list-item {
            display: flex;
            align-items: center;

            li:first-child { /*:active*/
                color: #C8FEC7;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 12px;
                line-height: 15px;
                padding: 0.5rem 1rem;
                background-color: hsla(0,0%,100%,.09);
                border-radius: 0.375rem;
            }

            li a {
                /*--tw-text-opacity: 1;*/
                /*color: rgb(163 163 163/var(--tw-text-opacity));*/
                text-decoration: none;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 800;
                font-size: 12px;
                line-height: 15px;
                padding: 0.5rem 1rem;
            }
        }
    }

    .main {
        display: flex;
        margin-top: 50px;

        .homeContainer {
            display: flex;
            flex-direction: column;

            .titleRIB {
                font-weight: 700;
                font-size: 40px;
                padding: 0 0 0 100px;
            }

            .inputContainer {
                padding: 0;

                .ribInput {
                    display: flex;
                    flex-direction: column;
                    margin: 50px 0 34px;

                    span {
                        font-weight: 800;
                        padding: 0 0 23px;
                    }

                    input {
                        outline: none 0 !important;
                        color: white;
                        font-size: 14px;
                        line-height: 17px;
                        padding: 0.75rem 2.5rem 0.75rem 1rem;
                        background-color: hsla(0,0%,100%,.05);
                        border: 1px solid hsla(0,0%,100%,.09);
                        border-radius: 0.25rem;
                        width: 439px;
                        height: 44px;
                    }::placeholder {
                         font-weight: 600;
                     }

                    input:focus {
                        --tw-border-opacity: 1;
                        border-color: rgb(246 184 62/var(--tw-border-opacity));
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                    }
                }

                .dateInput {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 34px;
                    width: 439px;

                    .minDate {
                        display: flex;
                        flex-direction: column;

                        input {
                            padding: 0 2.5rem 0 2.5rem;

                            span {
                                font-weight: 800;
                                padding: 0 0 23px;
                            }
                        }
                    }

                    .maxDate {
                        display: flex;
                        flex-direction: column;

                        input {
                            padding: 0 2.5rem 0 2.5rem;

                            span {
                                font-weight: 800;
                                padding: 0 0 23px;
                            }
                        }
                    }
                }
            }
        }
    }
}
